.container{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 
    40px 40px 40px 40px 40px 40px 40px 40px
    40px 40px 40px 40px;
}

.grid:hover{
    background-color: black;
}

.colorGrid{
    background-color: black;
}